/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.backgroundColor{

        /* Using HSL color */

    -fx-background-color:  #178850;

}
.backgroundColor1 {

    -fx-background-color: linear-gradient(to top left, #549159, #178850);

}
.separator .line {
    -fx-border-width: 0.1;
}
#tf_userName{
    -fx-background-color: transparent ;
    -fx-text-fill: #FFFFFFFF;
}
#tf_password{
    -fx-background-color: transparent ;
    -fx-text-fill: #FFFFFFFF;
}
#loginBtn{
    -fx-background-color: transparent ;
    -fx-border-style : solid;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-border-radius: 1.5em;
    -fx-border-color: #FFFFFFFF;

}
#loginBtn:hover{
    -fx-background-color: transparent ;
    -fx-border-style : solid;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFFFF;
    -fx-border-radius: 1.5em;
    -fx-border-color: #178850;

}


#textArea{
    -fx-background-color: transparent ;
    -fx-text-fill: #FFFFFFFF;
}
#forgotPass:hover{
    -fx-text-fill: #178850;

}


