/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.backgroundColor{

        /* Using HSL color */

    -fx-background-color:  #178850;

}
.backgroundColor1 {
    -fx-background-color: linear-gradient(to top left, rgba(84,191,84,0.91), #178850);

}



.separator .line {
    -fx-border-width: 0.1;
}
#tf_userName{
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}
#tf_password{
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}
#loginBtn{
    -fx-background-color: transparent ;
    -fx-border-style : solid;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-border-radius: 1.5em;
    -fx-border-color: white;
    -fx-cursor: HAND;
}
#loginBtn:hover{
    -fx-background-color: transparent ;
    -fx-border-style : solid;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-border-radius: 1.5em;
    -fx-border-color: #178850;
    -fx-cursor: HAND;
}


#textArea{
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}
#forgotPass:hover{
    -fx-text-fill: #178850;
    -fx-cursor: HAND;
}

#closeBtn{
    -fx-cursor: HAND;
}
